#content-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  cursor: pointer;
  width: 36%;
  max-width: 50%;
  -webkit-box-align: center;
  margin-top: 80px;
  box-sizing: border-box;
}

.article:hover .article-title {
  color: #1b64da;
}

.article-image {
  width: 260px;
  height: 260px;
  border-radius: 20px;
  margin: 0px 48px 0px 0px;
  transition: all 0.4s ease;
  object-fit: cover;
}

.article:hover .article-image {
  transform: translateY(-10px);
  transition: all 0.4s ease;
  box-shadow: -1px 20px 50px rgba(0, 0, 0, 0.15);
}

.article-details {
  display: block;
}

.article-details .article-title {
  display: inline-block;
  margin-bottom: 14px;
  overflow: hidden;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
  color: #333d4b;
  text-overflow: ellipsis;
  word-break: keep-all;
  overflow-wrap: break-word;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  -webkit-line-clamp: 2;
}

.article-details .article-summary {
  display: block;
  margin: 0;
  margin-bottom: 12px;
  line-height: 1.6;
  color: #4e5968;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  font-weight: 600;
  font-size: 17px;
  padding: 0;
}

.article-details .article-date {
  display: block;
  margin: 0;
  margin-bottom: 12px;
  line-height: 1.6;
  color: gray;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  font-weight: 500;
  font-size: 17px;
  padding: 0;
}
